In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import re   #  Regular expression operations
from nltk.corpus import stopwords

In [2]:
senti_data2 = pd.read_csv('IMDB Dataset.csv')


senti_data=senti_data2.sample(10000)

senti_data.shape

(10000, 2)

In [3]:
#one_review

senti_data['review']

14736    A lot of people don't think Dan Aykroyd is fun...
17774    I saw this movie at a college film festival ba...
24702    This is not exactly what I would call a Mad Ma...
218      This movie really woke me up, like it wakes up...
16849    Since Douglas MacArthur affected more human li...
                               ...
34003    Forget about Donnie Darko. I open with this be...
7707     I was about 14 years old as I saw the musical ...
25857    Negative numbers are not available to convey h...
31144    The truth is that a film based on a Harold Rob...
41380    Really the tale of two cocky brothers and thei...
Name: review, Length: 10000, dtype: object

Text Cleaning

1) Sampling rows if you want to

2) Remove html tags

3) Remove special characters

4) Coverting everythings into a lower case

5) Stemming

In [4]:
senti_data['sentiment'].replace({'positive':1,'negative':0},inplace=True)

   # Task 1 removing br  tags

In [5]:
def clean_html(text):
    clean=re.compile('<.*?>')
    return re.sub(clean,'',text)

In [6]:
senti_data['review']=senti_data['review'].apply(clean_html)

senti_data['review']

14736    A lot of people don't think Dan Aykroyd is fun...
17774    I saw this movie at a college film festival ba...
24702    This is not exactly what I would call a Mad Ma...
218      This movie really woke me up, like it wakes up...
16849    Since Douglas MacArthur affected more human li...
                               ...
34003    Forget about Donnie Darko. I open with this be...
7707     I was about 14 years old as I saw the musical ...
25857    Negative numbers are not available to convey h...
31144    The truth is that a film based on a Harold Rob...
41380    Really the tale of two cocky brothers and thei...
Name: review, Length: 10000, dtype: object

In [7]:
#converting everything to lower cases

def lower_case(text):
    return text.lower()

In [8]:
senti_data['review']=senti_data['review'].apply(lower_case)

In [9]:
senti_data['review'].to_frame()

                                                  review
14736  a lot of people don't think dan aykroyd is fun...
17774  i saw this movie at a college film festival ba...
24702  this is not exactly what i would call a mad ma...
218    this movie really woke me up, like it wakes up...
16849  since douglas macarthur affected more human li...
...                                                  ...
34003  forget about donnie darko. i open with this be...
7707   i was about 14 years old as i saw the musical ...
25857  negative numbers are not available to convey h...
31144  the truth is that a film based on a harold rob...
41380  really the tale of two cocky brothers and thei...

[10000 rows x 1 columns]

In [10]:
#function to removie special characters

def remove_special(text):
    x=''
    for  i in text:
        if i.isalnum():
            x=x+i
        else:
            x=x+ ' '
    return x

In [11]:
senti_data['review']=senti_data['review'].apply(remove_special)

In [12]:
senti_data['review'].to_frame()

                                                  review
14736  a lot of people don t think dan aykroyd is fun...
17774  i saw this movie at a college film festival ba...
24702  this is not exactly what i would call a mad ma...
218    this movie really woke me up  like it wakes up...
16849  since douglas macarthur affected more human li...
...                                                  ...
34003  forget about donnie darko  i open with this be...
7707   i was about 14 years old as i saw the musical ...
25857  negative numbers are not available to convey h...
31144  the truth is that a film based on a harold rob...
41380  really the tale of two cocky brothers and thei...

[10000 rows x 1 columns]

# stopword

In [13]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [14]:
#cleaning function to remove the stop words

def remove_stopwords(text):
    x=[]
    for i in text:      #converting the text into list
        
        if i not in stopwords.words('english'):
            x.append(i)
    
    y=x[:]
    x.clear()
    return y

In [ ]:
senti_data['review']=senti_data['review'].apply(remove_stopwords)

In [ ]:
senti_data['review']

In [297]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\akash\anaconda3\lib\site-packages (3.6.5)
Requirement already satisfied: click in c:\users\akash\anaconda3\lib\site-packages (from nltk) (8.0.3)
Requirement already satisfied: joblib in c:\users\akash\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\akash\anaconda3\lib\site-packages (from nltk) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\akash\anaconda3\lib\site-packages (from nltk) (4.62.3)
Requirement already satisfied: colorama in c:\users\akash\anaconda3\lib\site-packages (from click->nltk) (0.4.4)

In [76]:
#Perform stemming 

from nltk.stem.porter import PorterStemmer

In [127]:
def stem_words(text):
    ps=PorterStemmer() 
    text= ' '.join([ps.stem(i) for i in text])
    return text

In [128]:
senti_data['review']=senti_data['review'].apply(stem_words)

In [132]:
senti_data

                                                  review  sentiment
47987  one word describ mr magoo slapstick unfortun a...          0
32875  wow version racket tough watch none review men...          0
7132   tv show possibl pathet display crap tv today h...          0
32695  l appart among best french film ever seen alon...          1
43548  first half movi scare hell normal easi scare s...          1
...                                                  ...        ...
3667   ernesto man make live dupe solid citizen hard ...          1
19982  movi one hand actual caus pain might enjoy any...          0
24451  watch coupl laugh noth write home jason lee lo...          0
42235  first saw docudrama uk 1980 found intrigu asto...          1
17046  one funniest movi seen age watch 20 minut slig...          1

[1000 rows x 2 columns]

In [133]:
X=senti_data.iloc[:,0:1].values
X.shape

(1000, 1)

In [142]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()  #max_features=500

In [143]:
X=cv.fit_transform(senti_data['review']).toarray()

X.shape

(1000, 12647)

In [144]:
y=senti_data.iloc[:,-1].values

y.shape

(1000,)

In [146]:
X[0].max()

7

# Model Creating

In [150]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [159]:
X_train.shape

(800, 12647)

In [ ]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB

In [ ]:
clf1=GaussianNB()
clf2=MultinomialNB()
clf3=BernoulliNB()

In [ ]:
clf1.fit(X_train,y_train)
clf2.fit(X_train,y_train)
clf3.fit(X_train,y_train)

In [ ]:
#predecting the values

y_pred1=clf1.predict(X_test)
y_pred2=clf2.predict(X_test)
y_pred3=clf3.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

print('GaussianNB',accuracy_score(y_test,y_pred1))
print('MultinomialNB',accuracy_score(y_test,y_pred2))
print('BernoulliNB',accuracy_score(y_test,y_pred3))